<div dynamic-ctrl class="{{sideColor}}">
    <ons-carousel swipeable initial-index="1" auto-scroll ons-postchange="getPostchange()" ng-style='cartableItems.style'>

        <ons-carousel-item class="list-action-menu" style="height:95%">

            <ons-row style="height:100%;width:100%">
                <!--<ons-col style="background: #D8BFD8;line-height: 37px;text-align: center;position:relative"-->
                <!--onclick="$(this).scope().continueProcessBTN(this)">-->
                    <!--<span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -60%)">-->
                    <!--<ons-ripple></ons-ripple>-->
                        <!--<i class="ons-icon fa fa-send"></i>-->
                    <!--</span>-->
                <!--</ons-col>-->
                <ons-col style="background: #DB7093;line-height: 37px;text-align: center;position:relative" onclick="$(this).scope().getComment(this)">
                    <span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -60%)">
                        <ons-ripple></ons-ripple>
                        <i class="ons-icon ion-android-chat ons-icon--ion"></i>
                    </span>
                </ons-col>
                <ons-col ng-if="taskActions.reRun || taskActions.back" style="background: #ee6e73;text-align: center;">

                    <table style="width:100%;height: 100%;">
        
                        <tr ng-if="taskActions.reRun">
                            <td class="shrink" >
                                <div>
                                    <ons-icon icon="fa-refresh"></ons-icon>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="taskActions.back">
                            <td class="shrink">
                                <div>
                                    <ons-icon icon="fa-undo"></ons-icon>
                                </div>
                            </td>
                        </tr>
                        <!--<tr ng-if="taskActions.delete" ng-click="abortProcess()">-->
                            <!--<td class="shrink" >-->
                                <!--<div>-->
                                    <!--<ons-icon icon="fa-trash-o"></ons-icon>-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>    -->

                    </table>
                </ons-col>
                <ons-col style="background: #D8BFD8;line-height: 37px;text-align: center;position:relative" ng-click="popoverList.show($event)">
                    <span style="position:absolute;left:50%;top:50%;transform:translate(-50%, -60%)">
                    <ons-ripple></ons-ripple>
                        <i class="ons-icon ion-android-more-vertical ons-icon--ion"></i>
                    </span>
                </ons-col>

            </ons-row>
        </ons-carousel-item>
        <ons-carousel-item class="list-action-item" onclick="$(this).scope().continueProcessBTN(this);">

            <div class="custom-item-list" ng-class="{'setOpacity': !checkHavePlugin}">

                <section class="full-width custom-section" style="border-bottom: solid 1px #eee;padding-bottom: 5px;margin-bottom: 3px;">
                    <div>
                        <h3 style="font-size: 14px;">
                            <ons-row>
                                <ons-col style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    <b ng-show="cartableItems.read == false" class="fa fa-circle"></b>
                                    {{cartableItems.bundledProcessName}}
                                </ons-col>
                                <ons-col width="100px">
                                    <span class="font10 centerHorVer" style="text-align: left;font-size: 9px !important;float: left;direction: ltr">
                                        <b class="fa fa-clock-o" style="margin:0"></b>
                                        {{cartableItems.JstartTime}}
                                    </span>
                                </ons-col>
                            </ons-row>
                        </h3>
                    </div>
                </section>
                <section class="full-width custom-section">
                    <h5 class="font10" style="display: table; float:left; border-radius: 3px; border: 1px solid dodgerblue; width: auto; padding: 0rem 1rem; color: dodgerblue;">
                        {{(cartableItems.engineNameLocalised || cartableItems.engineName) + "  " + cartableItems.processInstanceId}}
                    </h5>
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['letterSubject'] != null">
                       <b class="fa fa-edit"></b> موضوع نامه : {{cartableItems.searchableMap["letterSubject"]}}
                    </h5>       
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['fromPerson'] != null">
                      <b class="fa fa-user"></b> ارسال کننده : {{cartableItems.searchableMap["fromPerson"]}}
                    </h5>
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['formattedDate'] != null">
                        <b class="fa fa-calendar"></b>تاریخ : {{cartableItems.searchableMap["formattedDate"]}}
                    </h5>
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['letterType'] != null">
                        <b class="fa fa-envelope-o"></b>نوع نامه : {{cartableItems.searchableMap["letterType"]}}
                    </h5>
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['Referrer'] != null">
                        <b class="fa fa-user-o"></b>ارجاع دهنده : {{cartableItems.searchableMap["Referrer"]}}
                    </h5>
                    <h5 class="font10" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-if="cartableItems.searchableMap['letterNo'] != null">
                        <b class="fa fa-tag"></b>شماره نامه : {{cartableItems.searchableMap["letterNo"]}}
                    </h5>
                </section>
            
                </div>


            <div ng-if="continueProcessInProgress" style="
                 width: 100%;
                height: 100%;
                position: fixed;
                top: -0.5%;
                opacity: 0.8;
                ">
                        <div style="
         opacity: 1;
        left: 0px;
        background-color: #E0E2D7;
        top: -0.5%;
        width: 100%;
        height: 100%;
        position: absolute;
        ">
                        </div>
</div>

            <div ng-if="continueProcessInProgress" class="centerHorVer" style="
 top: 40%;
position: absolute;
left: 45%;
opacity: 1;
">
            <br> <i style="color:#333;font-size: 4vh;" class="loaderIcon loadingRotate fa fa-spinner"></i> </div>

        </ons-carousel-item>
    </ons-carousel>
    <div ng-show="slidetoggle" ng-class="{'w3-animate-bottom': slidetoggle}" ng-click="$event.stopPropagation();" style="min-height: 45px;background:#f5f5f5;direction: rtl;">
                
        <ons-row style="padding: 10px">
            <ons-col width="92%">
                <input placeholder="دیدگاه بنویسید" type="text" class="inputcomment" ng-model="textComment" />
            </ons-col>
            <ons-col style="text-align: left;" ng-click="addComment()">
                    <i ng-class="loadingaddcomment ? 'loaderIcon fa fa-spinner' : 'fa fa-paper-plane'" style="color: #666;position: relative;top: 5px;" ></i>
                </ons-col>
        </ons-row>

        <div ng-repeat="item in commentList track by $index" class="newcommentlist rtl">
            <i class="fa fa-user"></i>
            {{item.userName}} <span style="color: #b9b9b9;">({{item.timeago}})</span>
            <br />
            <div style="margin-top: 8px;">{{item.content}}</div>
        </div>

    </div>

    <ons-template id="popoverList.html">
        <ons-popover var="popoverList" cancelable direction="right" animation="fade-ios" modifier="material">
            <ons-list class="rtl">
                <ons-list-item modifier="tappable" ng-click="state.getProcessHistory()">
                    <div style="padding: 0 10px !important;" class="font13">
                        <ons-icon icon="fa-angle-left"></ons-icon>
                        تاریخچه فرآیند
                    </div>
                </ons-list-item>
                
                <ons-list-item modifier="tappable" ng-repeat="item in state.subprocess track by $index" ng-click="state.getStartProcess(item)">
                    <div style="padding: 0 10px !important;" class="font13">
                        <ons-icon icon="fa-angle-left"></ons-icon>
                        {{item.bundledProcessName}}
                    </div>
                </ons-list-item>

            </ons-list>
            <!-- <div class="font13" style="text-align:center;line-height: 100px;" ng-show="state.subprocess == null || state.subprocess.length == 0">
                ساب پروسس یافت نشد
            </div> -->
        </ons-popover>    
    </ons-template>
    


    <ons-template id="dialogHistory.html">
        <ons-dialog id="historyDialog" class="rtl" style="text-align: right !important;height:auto;" cancelable direction="down" animation="default" animation-options="{duration: 0.1, delay: 0.2, timing: 'ease-in'}">
    
                <ons-toolbar inline>
                    <div style="text-align:center" class="center centerHorVer">
                        تاریخچه فرآیند
                    </div>
                </ons-toolbar>
    
    
                <div class="centerHorVer font10" ng-if="state.processHistory.length == 0">
                    <br />
                    تاریخچه فرآیند خالی است
                </div>
                <div class="centerHorVer" ng-if="!state.processHistory">
                        <br />
                    <i style="color:#333" class="loaderIcon loadingRotate fa fa-spinner"></i>
                </div>
                

    
                <ul class="ulCustom myTag rtl">
                    <li ng-repeat="item in state.processHistory track by $index" ng-include="'tree_item_renderer.html'"></li>
                </ul>
    
                <script type="text/ng-template"  id="tree_item_renderer.html">
                    <ul class="rtl">
                        <li ng-click="state.showSlide(item)">
                            <section style="border-bottom: solid 1px #eee;padding: 7px;">
                                <i ng-class="item.slide ? 'fa fa-folder-open' : 'fa fa-folder'"></i>
                                {{item.processNameBundle}}
                                <br />
                                 <span style="font-size:8px;color:#9a9a9a">
                                        انجام دهنده
                                        {{item.firstname}} {{item.lastname}} 
                                        -
                                        وضعیت فرآیند
                                        {{item.status}}

                                        <span ng-if="item.persianStatusTime != null">
                                        -
                                        تاریخ وضعیت
                                        {{item.persianStatusTime}}
                                        </span>
                                 </span>
                            </section>
                        </li>
                    </ul>
    
                    <section ng-show="item.slide" style="color: #8c8c8c;font-weight: normal;" class="children rtl" ng-repeat="item in item.histories" ng-include="'tree_item_renderer.html'">
    
                            {{item.processName}}
                            <br />
                             <span style="font-size:8px;">
                                    انجام دهنده
                                    {{item.firstname}} {{item.lastname}} 
                                    -
                                    وضعیت فرآیند
                                    {{item.status}}

                                    <span ng-if="item.persianStatusTime != null">
                                        -
                                        تاریخ وضعیت
                                        {{item.persianStatusTime}}
                                    </span>
                             </span>
    
                    </section>
                </script>
    
            </ons-dialog>
        </ons-template>
</div>
