<ons-page dynamic-ctrl class="custom-css" style="overflow-y:hidden">
    <ons-toolbar style="direction: ltr;">
		<div class="center" style="text-align: right">{{toolbarTitle}}</div>
        <ons-toolbar-button style="float:left; padding-top:7px" onclick="backButton(this)">
            <span class="back-button__icon"></span>
            <span class="back-button__label" style="padding-top:7px;">بازگشت</span>
        </ons-toolbar-button>
    </ons-toolbar>

	<div id="searchParent" style="transition:top 0.5s linear;z-index:100;position:absolute;width:100%">
	    <section class="custom-send-form bgwhite">

		    <section class="bgwhite" style="margin-top: 15px;position:relative">
		    	<div class="text-coverage boxShadowNone">
		            <i class="fa fa-tag"></i>
		            <input ng-model="no" type="text" class="text-input" placeholder="شماره نامه">
		        </div>
		    </section>

		    <section class="bgwhite" style="margin-top: 15px;position:relative">
		    	<div class="text-coverage boxShadowNone">
		            <i class="fa fa-archive"></i>
		            <input ng-model="oldno" type="text" class="text-input" placeholder="شماره نامه قدیمی">
		        </div>
		    </section>

		    <section class="bgwhite" style="margin-top: 15px;position:relative">
		    	<div class="text-coverage boxShadowNone">
		            <i class="fa fa-edit"></i>
		            <input ng-model="subject" type="text" class="text-input" placeholder="موضوع">
		        </div>
		    </section>

		    <section style="marging-top: 10px" class="rtl">

		    	<fieldset style="color:#ccc;font-size:14px">
				    <legend><span style="
	margin: 5px;"><i class="fa fa-calendar"></i></span> تاریخ:</legend>
				    <ons-row>
		                <ons-col style="padding-right: 2px;">
		                    <div ng-click="showCalendarDateFrom()" class="disabledClass">
		                        {{cdateFromAsPersian}}
		                    </div>
		                </ons-col>
		            </ons-row>

		            <ons-row>
		                <ons-col style="padding-right: 2px; margin-top:5px">
		                    <div ng-click="showCalendarDateTo()" class="disabledClass">
		                        {{cdateToAsPersian}}
		                    </div>
		                </ons-col>
		            </ons-row>
			  	</fieldset>
	            
	        </section>


		     <section style="margin-top:25px">
		        <div class="rtl">
		        	<ons-row>
	                    <ons-col>
	                        <button style="margin-top: 5px;font-size:16px !important" ng-click="searchDraftLetters($event)" class="btn button button--material">
                                  <ons-ripple></ons-ripple>
                                  <ons-icon ng-show="!searchDraftLoad"  icon="md-search"></ons-icon>
                                  <ons-icon ng-show="searchDraftLoad" class="loaderIcon" icon="md-spinner"></ons-icon>
                                  جستجو
                          	</button>
	                    </ons-col>
	                </ons-row>
		        </div>
		    </section>
		</section>

		<ons-row class="custom-send-form bgwhite" style="padding:0px;box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2)" id="searchBarChevron">
	        <ons-col style="text-align:center">
	    		<ons-ripple color="#bb8fce" background="#85c1e9"></ons-ripple>
	        	<span>
	        		<i class="fa fa-chevron-up"></i>
	    		</span>
	    	</ons-col>
	    </ons-row>
	</div>

<style>
	.A {
		position: absolute;
		top:0px;
		right:0px;
		transition: all 300ms;
	}

	.B {
		position: absolute;
		top: 0;
		left: -30px;
		bottom: 0;
		display: block;
		float: left;
		width: 10%;
		height: 100%;
		transition: all 300ms;
		padding-left:20px;
		border-right: solid 1px #ddd;
	}

	.boxShadowNone {
		box-shadow: none;
	}
</style>

<ons-page>
	<ons-list class="draftLetterSearch" style="padding-top:20px; overflow-y:scroll; height:100vh;overflow-x:hidden;direction:ltr">
		<div ng-if="!draftLetters || draftLetters.length == 0" style="padding-top: 50px;text-align: center">
			<i class="fa fa-smile-o" style=" width:  100%; font-size: 60px;color: #ccc;"></i>
			<div style="color: #ccc;font-size: 18px;">هیچ نامه پیش نویسی یافت نشد</div>
		</div>

	    <ons-list-item modifier="longdivider" class="listItem" ng-repeat="draftLetter in draftLetters track by $index" style="margin-top:5px;height:23vh;">

	    	<!--<div width="20%" ng-click="startProcess(draftLetter, $event)" class="B">-->
                <!--<span style="position:absolute;left:30%;top:50%;transform:translate(-50%, -60%)">-->
                    <!--<ons-ripple></ons-ripple>-->
                    <!--<i class="ons-icon fa fa-send"></i>-->
                <!--</span>-->
            <!--</div>-->
		    
	    	<ons-row class="A" ng-click="startProcess(draftLetter, $event)">
	    		<!--<ons-col width="10%" onclick="ellipsisClicked(this)">-->
	                <!--<span style="position:absolute;top:50%;left:4%;font-size:6vw">-->
	                    <!--<ons-ripple></ons-ripple>-->
	                    <!--<i class="ons-icon fa fa-angle-right"></i>-->
	                <!--</span>-->
	            <!--</ons-col>-->
	    		<ons-col width="100%">
					<div ng-if="continueProcessInProgress == draftLetter.letid" style="width:100%; height:100%;position: absolute;top: -0.5%;opacity: 0.5;">
						<div style="opacity: 1;left: 0px;background-color: #E0E2D7;top: -0.5%;width: 100%;height: 100%;position: absolute;">
						</div>
					</div>

					<div ng-if="continueProcessInProgress == draftLetter.letid" class="centerHorVer" style="top: 40%;position: absolute;left: 45%;opacity: 1;">
						<i style="color:#333;font-size: 4vh;" class="loaderIcon loadingRotate fa fa-spinner"></i>
					</div>

		    		<section class="full-width custom-section" style="border-bottom: solid 1px #eee;padding-bottom: 10px;margin-bottom: 10px;">
		                <div>
		                    <h3 style="font-size: 14px;">
		                        <ons-row>
		                            <ons-col style="text-align:right;padding-top:10px;padding-right:10px;direction:rtl">
		                                <h4 class="font10">
		                   					<b class="fa fa-edit"></b> موضوع نامه : {{draftLetter.subj}}
		                				</h4>
		                            </ons-col>
		                       	</ons-row>
		                   	</h3>
		                </div>
		            </section>
		            <section class="full-width custom-section" style="text-align:right;direction:rtl;padding-right:10px">
		                <h5 class="font10">
		                    <b class="fa fa-calendar"></b>تاریخ : {{draftLetter.cdateAsPersian}}
		                </h5>
		                <h5 class="font10">
		                    <b class="fa fa-file-o"></b>نوع نامه :{{}}
		                </h5>
		                <h5 class="font10">
		                    <b class="fa fa-tag"></b>شماره نامه : {{draftLetter.no}}
		                </h5>
		                <h5 class="font10">
		                    <b class="fa fa-archive"></b>شماره نامه قدیمی: {{draftLetter.oldno}}
		                </h5>
		            </section>
	        	</ons-col>
      		</ons-row>
	        
		</ons-list-item>
	</ons-list>
	</ons-page>
</ons-page>
