<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Uploading Package</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" href="/css/persian-datepicker.css">

    <script type="text/javascript" src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/datePicker1/persian-date.js"></script>
    <script type="text/javascript" src="/js/datePicker1/persian-datepicker.js"></script>
    <script type="text/javascript" src="/js/datePicker1/myDatePick.js"></script>
</head>
<body>
<div class="container my-5">
    <h3> Add Plugin User</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form method="POST" enctype="multipart/form-data" th:action="@{/addInstallPackage}" th:object="${trigger}">
                    <table>
                        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                        <tr><td><input type="submit" value="Upload" /></td></tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="form-group row">
                                        <div class="input-group col-md-6">
                                            <input type="text" class="form-control pickDate" id="fromDate1" placeholder="از تاریخ" th:field="*{startTime}" />
                                            <div class="input-group-append">
                                                <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>
                                            </div>
                                        </div>

                                        <div class="input-group col-md-6">
                                            <input type="text" class="form-control pickDate" id="toDate1" placeholder="تا تاریخ" th:field="*{endTime}" />
                                            <div class="input-group-append" >
                                                <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--                            <td>-->
                            <!--                                <div class="input-group col-md-6">-->
                            <!--                                    <input type="text" th:value="${endTime}" class="form-control pickDate" id="toDate1" placeholder="تا تاریخ" />-->
                            <!--                                    <div class="input-group-append" >-->
                            <!--                                        <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </td>-->
                            <td>
                                <input type="text" th:field="*{repeatHour}" class="text-info" placeholder="تکرار" />
                            </td>
                        </tr>
                    </table>
                </form>
<!--                <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">-->
<!--                    <div class="row">-->
<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="firstName" class="col-form-label">First Name</label>-->
<!--                            <input type="text" th:field="*{firstName}" class="form-control"-->
<!--                                   id="firstName" placeholder="First Name" />-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="lastName" class="col-form-label">Last Name</label>-->
<!--                            <input type="text" th:field="*{lastName}" class="form-control"-->
<!--                                   id="lastName" placeholder="Last Name" />-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="email" class="col-form-label">Email</label>-->
<!--                            <input type="text" th:field="*{email}" class="form-control"-->
<!--                                   id="email" placeholder="Email Id" />-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="username" class="col-form-label">Username</label>-->
<!--                            <input type="text" th:field="*{username}" class="form-control"-->
<!--                                   id="username" placeholder="username" />-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-8">-->
<!--                            <label for="password" class="col-form-label">Password</label>-->
<!--                            <input type="password" th:field="*{password}" class="form-control"-->
<!--                                   id="password" placeholder="password" />-->
<!--                        </div>-->

<!--                        <div class="col-md-6">-->
<!--                            <input type="submit" class="btn btn-primary" value=" Submit ">-->
<!--                        </div>-->

<!--                        <input type="hidden" id="id" th:field="*{id}">-->

<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>