<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Install Package</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" type="text/css" href="/css/persian-datepicker.css">

    <script type="text/javascript" src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/datePicker1/persian-date.js"></script>
    <script type="text/javascript" src="/js/datePicker1/persian-datepicker.js"></script>
    <script type="text/javascript" src="/js/datePicker1/myDatePick.js"></script>

</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" th:action="@{/addInstallPackage}" th:object="${triggerVO}">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td><input type="submit" value="Upload" /></td></tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="form-group row">
                                    <div class="input-group col-md-6">
                                        <input type="text" class="form-control pickDate" id="fromDate1" placeholder="از تاریخ"  />
                                        <div class="input-group-append">
                                            <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>
                                        </div>
                                    </div>

                                    <div class="input-group col-md-6">
                                        <input type="text" class="form-control pickDate" id="toDate1" placeholder="تا تاریخ" />
                                        <div class="input-group-append" >
                                            <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!--                            <td>-->
                        <!--                                <div class="input-group col-md-6">-->
                        <!--                                    <input type="text" th:value="${endTime}" class="form-control pickDate" id="toDate1" placeholder="تا تاریخ" />-->
                        <!--                                    <div class="input-group-append" >-->
                        <!--                                        <i class="fa fa-calendar pickDate" aria-hidden="true" style="padding: 5px; margin-top: 5px; color: #0bc1ff"></i>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </td>-->
                        <td>
                            <input type="text" th:value="*{repeatHour}" class="text-info" placeholder="تکرار" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>